@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выбор функции</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: block;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: gray;
            padding: 20px;
            flex-wrap: wrap;
        }

        .container {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            color: red;
            display: block;
        }

        .create-button {
            display: inline-block;
            text-align: center;
            padding: 5px 10px;
            background-color: #454142;
            color: white;
            border-radius: 5px;
            margin-bottom: 20px;
            text-decoration: none;
            cursor: pointer;
        }

            .create-button:hover {
                background-color: #454142;
            }

    </style>
</head>
<body>
    <p>
        <a class="create-button" onclick="history.back();">Назад</a>
    </p>
    <div class="container">

        <p>ОШИБКА! Данный логин занят.</p>
    </div>
</body>
</html>